.app {
  text-align: center;
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

body {
  height: 100svh;
  overflow: hidden;
  color: white !important;
  background-color: #20152e !important;
  background-image: radial-gradient(at 100% 0%,hsla(262,95%,23%,.44) 0px,transparent 50%),radial-gradient(at 0% 99%,hsla(322,74%,45%,.63) 0px,transparent 50%);
}

.background-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 388px;
  height: 388px;
  
}

.affinity-bg {
  width: auto;
  height: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  transform: scale(2);
  transform-origin: center;
}

.schools-overlay {
  position: absolute;
  width: 388px;
  height: 388px;
  margin: auto;
}

.school-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.school-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.tiers-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tier-bar {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
